<div class="comments-container">
  <app-comment-form (commentAdded)="onCommentAdded()"></app-comment-form>
  <div class="sorting-controls">
    <button (click)="onSortChange('userName')" class="btn-sort">
      User Name {{getSortIcon('userName')}}
    </button>
    <button (click)="onSortChange('email')" class="btn-sort">
      Email {{getSortIcon('email')}}
    </button>
    <button (click)="onSortChange('creationTime')" class="btn-sort">
      Date {{getSortIcon('creationTime')}}
    </button>
  </div>
  <div class="comments-list">
    <app-comment-item *ngFor="let comment of comments"
                      [comment]="comment"
                      [level]="0"
                      (commentAdded)="onCommentAdded()">
    </app-comment-item>
  </div>
  <div class="pagination" *ngIf="totalCount > pageSize">
    <button *ngFor="let page of getPages()"
            (click)="onPageChange(page)"
            [class.active]="currentPage === page"
            class="page-btn">
      {{page}}
    </button>
  </div>
</div>
